<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="fileman2.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <fileman2.Properties.Settings1>
            <setting name="DefaultPath" serializeAs="String">
                <value />
            </setting>
            <setting name="StringsOnPage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HelpFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewMode" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ErrorsFile" serializeAs="String">
                <value />
            </setting>
            <setting name="HorizLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Level" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BColor" serializeAs="String">
                <value>True</value>
            </setting>
        </fileman2.Properties.Settings1>
    </userSettings>
</configuration>